:root{
    --color-primary: #BCEBCB;
    --circle-size: 1rem;
}

.status.dot{
    max-width: var(--circle-size);
    min-height: var(--circle-size);
    border-radius: 50%;
    background: #ccc;
    min-width: var(--circle-size);
    max-height: var(--circle-size);
    margin-right: .4rem;
}

.status-content{
    display: flex;
}
.main-chat-block{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.chat-contact-header{
    max-height: 100px;
    background-color: var(--color-primary);
}

.chat-input{
    max-height: 40px;
    background-color: blueviolet;
}

.chat-messages{
    flex:1;
    min-height: 100%;
    background: yellow;
    overflow: auto;
}